@model DecklistProjectASP.ViewModel.DecklistDisplay

@{
    ViewData["Title"] = "Details";
    string cardWebsite = "https://db.ygoprodeck.com/card/?search=";
}


<h2>Details</h2>

<div>
    <h4>Decklist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeckName)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeckName)
        </dd>
        @if (Model.Deck.Main.Count > 0)
        {
            <dt>
                @Html.DisplayName($"Main deck ({Model.Deck.Main.Count})")
            </dt>
            @foreach (var main in Model.Deck.Main.Distinct())
            {
                var cardWithAmount = Model.Cards.FirstOrDefault(x => x.Card.CardIdentifier == main);
                if (cardWithAmount != null)
                {
                    <dd>
                        @{
                            <span>(@(cardWithAmount.Amount)x)   <a href="@cardWebsite@cardWithAmount.Card.CardIdentifier">@cardWithAmount.Card.CardName</a> </span>
                        }
                    </dd>
                }

            }
        }

        @if (Model.Deck.Extra.Count > 0)
        {
            <dt>
                @Html.DisplayName($"Extra deck ({Model.Deck.Extra.Count})")
            </dt>
            @foreach (int extra in Model.Deck.Extra.Distinct())
            {
                var cardWithAmount = Model.Cards.FirstOrDefault(x => x.Card.CardIdentifier == extra);
                if (cardWithAmount != null)
                {
                    <dd>
                        @{
                            <span>(@(cardWithAmount.Amount)x)   <a href="@cardWebsite@cardWithAmount.Card.CardIdentifier">@cardWithAmount.Card.CardName</a> </span>
                        }
                    </dd>
                }
            }
        }
        @if (Model.Deck.Side.Count > 0)
        {
            <dt>
                @Html.DisplayName($"Side deck ({Model.Deck.Side.Count})")
            </dt>
            @foreach (int side in Model.Deck.Side.Distinct())
            {
                var cardWithAmount = Model.Cards.FirstOrDefault(x => x.Card.CardIdentifier == side);
                if (cardWithAmount != null)
                {
                    <dd>
                        @{
                            <span>(@(cardWithAmount.Amount)x)   <a href="@cardWebsite@cardWithAmount.Card.CardIdentifier">@cardWithAmount.Card.CardName</a> </span>
                        }
                    </dd>
                }
            }
        }

    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && (User.Identity.Name == Model.OwnerName || User.IsInRole("Admin")))
    {
        <p><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a></p>
    }
    <p><a asp-action="Index">Back to List</a></p>
</div>
