@model IEnumerable<DecklistProjectASP.ViewModel.DeckView>

@{
    ViewData["Title"] = "Index";
}

<h2>Decklists Menu:</h2>

<p>
    <a class="btn btn-link" asp-action="Create">Create New</a>
</p>
<p >
    <a class="btn btn-success" asp-action="SearchForCard">Search For Decklists Containing a Card</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </th>
            }

                <th>
                    @Html.DisplayNameFor(model => model.Deck)
                </th>
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            @if (User.IsInRole("Admin"))
            {
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.Deck.DeckName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Deck.DecklistId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Deck.DecklistId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Deck.DecklistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
