@model IEnumerable<DecklistProjectASP.ViewModel.DeckView>

@{
    ViewData["Title"] = "Public Decklists";
}

<h2>Decklists Menu:</h2>

<p>
    <a class="btn btn-link" asp-action="Create">Create New</a>
</p>
<p >
    <a class="btn btn-success" asp-action="SearchForCard">Search For Decklists Containing a Card</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deck)
                </th>
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Deck.DeckName)
            </td>
            <td>
                @if (User.Identity.Name == item.OwnerName || User.IsInRole("Admin"))
                {
                    <a asp-action="Details" asp-route-id="@item.Deck.DecklistId">Details</a><span> |</span>
                    <a asp-action="Download" asp-route-id="@item.Deck.DecklistId">Download YDK</a><span> |</span>
                    <a asp-action="Edit" asp-route-id="@item.Deck.DecklistId">Edit</a><span> |</span>
                    <a asp-action="Delete" asp-route-id="@item.Deck.DecklistId">Delete</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Deck.DecklistId">Details</a><span> |</span>
                    <a asp-action="Download" asp-route-id="@item.Deck.DecklistId">Download YDK</a>
                }


            </td>
        </tr>
}
    </tbody>
</table>
